
body {
text-align: center;
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 0.93em;
background-color: #f5f5f5;
}

a:link, a:visited, a:active, a:hover {
color: #0000b0;
}

.intro {
width: 74%;
margin-left: 20%;
margin-right: auto;
}

div.announce {
font-size: 1.1em;
font-style: italic;
color: #8fbc8f;
}

div.hd {
text-align: left;
width: 60%;
margin: 10px auto 10px 20%;
clear: both;
}

h1 {
font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
font-size: 1.6em;
color: #87ceeb;
text-align: center;
outline-style: none;
}

h2, h3, h4, h5, h6 {
font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
font-size: 1.4em;
color: #f5f5f5;
background-color: #000000;
border: solid thin #000099;
font-weight: bold;
margin: 20px 20px 20px 20%;
padding: 10px 0px;
text-align: center;
width: 200px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
outline-style: none;
overflow: hidden;
}

.tal {
text-align: left;
}

code {
display: block;
padding: 5px;
margin: 10px 0 10px 10%;
color: #191970;
font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
border: solid thin black;
}

div.viewport {
height: 402px;
overflow: hidden;
text-align: left;
}

div.viewport > * {
float: left;
}

#container {
height: 400px;
width: 250px;
overflow: auto;
border: solid thin black;
}

#map {
height: 400px;
width: 58%;
margin-left: 10px;
}

*:focus {
outline: #990000 2px inset;
}

div.TreeView {
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
margin-left: 10px;
}

div.tree > div.TreeView {
margin-left: 0px;
}

div.TreeView ul {
list-style: none;
padding: 0;
margin: 0;
}

div.TreeView ul > li {
margin: 5px 0px;
}

div.TreeView ul > li > a > span {
display: block;
width: 110px;
}

div.TreeView ul > li > a {
cursor: pointer;
display: inline-block;
text-decoration: none;
font: bold 12px/12px HelveticaNeue, Arial;
padding: 4px 8px;
border: 1px solid #dedede;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

div.TreeView ul > li > a.branch {
background: #bdbdbd;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cacaca', endColorstr='#aeaeae'); /* IE */
background: -webkit-gradient(linear, left top, left bottom, from(#cacaca), to(#aeaeae)); /* WebKit */
background: -moz-linear-gradient(top, #cacaca, #aeaeae);
border-color: #000;
color: #000;
text-shadow: 0 1px 0 #d4d4d4;
-webkit-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7;
-moz-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7;
box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7; 
}

div.TreeView ul > li > a.branch[aria-selected="true"] {
background: #c2c2c2;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbcbc', endColorstr='#c2c2c2'); /* IE */
background: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#c2c2c2)); /* WebKit */
background: -moz-linear-gradient(top, #bcbcbc, #c2c2c2);
border-color: #989898 #8e8e8e #878787;
text-shadow: 0 1px 0 #dadada;
-webkit-box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;
-moz-box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;
box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc; 
}

div.TreeView ul > li > a[aria-expanded="false"]:before {
color: red;
content: '+';
}

div.TreeView ul > li > a[aria-expanded="true"]:before {
color: blue;
content: '-';
}

div.TreeView ul > li > a.leaf {
background: #f5f5f5;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0'); /* IE */
background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0)); /* WebKit */
background: -moz-linear-gradient(top, #f9f9f9, #f0f0f0);
border-color: #000;
color: #000;
text-shadow: 0 1px 0 #fff;
-webkit-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
-moz-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
}

div.TreeView ul > li > a.leaf[aria-selected="true"] {
background: #f4f4f4;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#f8f8f8'); /* IE */
background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#f8f8f8)); /* WebKit */
background: -moz-linear-gradient(top, #efefef, #f8f8f8);
border-color: #c7c7c7 #c3c3c3 #bebebe;
text-shadow: 0 1px 0 #fdfdfd;
-webkit-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
-moz-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
}
