
body {
text-align: center;
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 0.93em;
background-color: #f5f5f5;
}

a:link, a:visited, a:active, a:hover {
color: #0000b0;
}

.intro {
width: 74%;
margin-left: 20%;
margin-right: auto;
}

div.announce {
font-size: 1.1em;
font-style: italic;
color: #8fbc8f;
}

div.hd {
text-align: left;
width: 60%;
margin: 10px auto 10px 20%;
clear: both;
}

h1 {
font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
font-size: 1.6em;
color: #87ceeb;
text-align: center;
outline-style: none;
}

h2, h3, h4, h5, h6 {
font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
font-size: 1.4em;
color: #f5f5f5;
background-color: #000000;
border: solid thin #000099;
font-weight: bold;
margin: 20px 20px 20px 20%;
padding: 10px 0px;
text-align: center;
width: 200px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
outline-style: none;
overflow: hidden;
}

.tal {
text-align: left;
}

code {
margin-left: 10%;
color: #191970;
font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
border: solid thin black;
}

div.top {
text-align: left;
font-size: 1.2em;
font-weight: bold;
}

div.middle table {
table-layout: fixed;
}

div.middle table td {
vertical-align: top;
}

div.middle div[role="heading"] {
background-color: #000;
color: #f5f5f5;
text-align: center;
font-size: 1.2em;
font-weight: bold;
margin-left: 50px;
}

div.middle {
text-align: left;
}

#addressForm label {
display: block;
background-color: #000;
color: #f5f5f5;
text-align: center;
}

div.middle tr.required label:before {
color: red;
content: '*';
}

div.middle td {
padding: 0 0 10px 0;
}

div.foot {
text-align: right;
}

#b-add1, #b-add2, #m-add1, #m-add2 {
width: 150px;
}

#b-city, #b-state, #m-city, #m-state {
width: 100px;
}

#b-zip, #m-zip, #questionId {
width: 60px;
}

#addressForm .required label {
border-bottom: solid thin orange;
}

#addressForm .validateError {
border: solid thin red;
}

div.errorTooltip {
z-index: 1;
font: bold 12px/12px HelveticaNeue, Arial;
padding: 3px 4px;
border: 1px solid #dedede;
background: #fecc5f;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feda71', endColorstr='#febb4a'); /* IE */
background: -webkit-gradient(linear, left top, left bottom, from(#feda71), to(#febb4a)); /* WebKit */
background: -moz-linear-gradient(top, #feda71, #febb4a);
border-color: #f5b74e #e5a73e #d6982f;
color: #996633;
text-shadow: 0 1px 0 #fedd9b;
-webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;
-moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;
box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;  
}

#questionForm span {
border: solid thin red;
}

#questionForm span.passedValidation {
border: solid thin green;
}

div.helpTooltip {
z-index: 1;
font: bold 12px/12px HelveticaNeue, Arial;
padding: 3px 4px;
border: 1px solid #dedede;
background: #f5f5f5;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0'); /* IE */
background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0)); /* WebKit */
background: -moz-linear-gradient(top, #f9f9f9, #f0f0f0);
border-color: #dedede #d8d8d8 #d3d3d3;
color: #555;
text-shadow: 0 1px 0 #fff;
-webkit-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
-moz-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
}
