
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix {
display: inline-block;
}
* html .clearfix {
height: 1%;
}
.clearfix {
display: block;
}

body {
text-align: center;
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 0.93em;
background-color: #f5f5f5;
}

a:link, a:visited, a:active, a:hover {
color: #0000b0;
}

.intro {
width: 74%;
margin-left: 20%;
margin-right: auto;
}

div.announce {
font-size: 1.1em;
font-style: italic;
color: #8fbc8f;
}

div.hd {
text-align: left;
width: 60%;
margin: 10px auto 10px 20%;
clear: both;
}

h1 {
font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
font-size: 1.6em;
color: #87ceeb;
text-align: center;
outline-style: none;
}

h2, h3, h4, h5, h6 {
font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
font-size: 1.4em;
color: #f5f5f5;
background-color: #000000;
border: solid thin #000099;
font-weight: bold;
margin: 20px 20px 20px 20%;
padding: 10px 0px;
text-align: center;
width: 200px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
outline-style: none;
overflow: hidden;
}

.tal {
text-align: left;
}

code {
margin-left: 10%;
color: #191970;
font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
border: solid thin black;
}

div.viewport {
text-align: center;
}

/*
Styling for the Auto Rotating Carousel
*/

#carouselId div.carouselCls {
text-align: center;
}

#carouselId div.lNav, #carouselId div.rNav {
height: 158px;
position: relative;
float: left;
padding: 6px;
}

#carouselId .navButton {
border: 0;
padding: 0;
margin: 0;
}

#carouselId .navButton {
cursor: pointer;
display: block;
text-decoration: none;
font: bold 12px/12px HelveticaNeue, Arial;
padding: 6px 6px;
border: 1px solid #dedede;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background: #b7d770;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae285', endColorstr='#9fcb57'); /* IE */
background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#9fcb57)); /* WebKit */
background: -moz-linear-gradient(top, #cae285, #9fcb57);
border-color: #adc671 #98b65b #87aa4a;
color: #5d7731;
text-shadow: 0 1px 0 #cfe5a4;
-webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
-moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;  
}

#carouselId .navSlideButton {
margin-top: 80px;
}

#carouselId .navGroupButton {
margin-top: 10px;
}

#carouselId div.centerContent {
width: 165px;
height: 170px;
float: left;
overflow: hidden;
border: solid thin black;
}

#carouselId div.groupName {
position: absolute;
z-index: 1;
width: 165px;
text-align: center;
padding: 6px 0px;
font-size: 1.6em;
font-weight: 400;
text-shadow: 1px 1px 1px rgba(112,128,144,0.8);
}

#carouselId div.groupName span {
background-color: #778899;
color: #483d8b;
text-shadow: 0px 1px 1px rgba(112,128,144,0.8);
}

/*
Styling for the Static Slideshow
*/

#slideshowId div.carouselCls {
text-align: center;
}

#slideshowId div.lNav, #slideshowId div.rNav {
height: 468px;
position: relative;
float: left;
padding: 6px;
}

#slideshowId .navButton {
border: 0;
padding: 0;
margin: 0;
}

#slideshowId .navButton {
cursor: pointer;
display: block;
text-decoration: none;
font: bold 15px/15px HelveticaNeue, Arial;
padding: 6px 6px;
border: 1px solid #dedede;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background: #a5b8c6;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#becbd6', endColorstr='#88a1b4'); /* IE */
background: -webkit-gradient(linear, left top, left bottom, from(#becbd6), to(#88a1b4)); /* WebKit */
background: -moz-linear-gradient(top, #becbd6, #88a1b4);
border-color: #a2afb8 #8696a1 #6f818f;
color: #515f6a;
text-shadow: 0 1px 0 #c4d0d9;
-webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #ced8e0;
-moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #ced8e0;
box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #ced8e0;  
}

#slideshowId div.rNav .navButton {
margin-top: 438px;
}

#slideshowId div.centerContent {
width: 265px;
height: 480px;
float: left;
overflow: hidden;
border: solid thin black;
}

/*
Styling for the Dynamic Wizard
*/

div.wizardCls {
background-color: #778899;
}

div.wizardCls div.carouselCls {
text-align: left;
}

div.wizardCls div.lNav, div.wizardCls div.rNav {
text-align: center;
height: 130px;
float: left;
position: relative;
padding: 6px;
}

div.wizardCls .navButton {
border: 0;
padding: 0;
margin: 0;
}

div.wizardCls .navButton {
cursor: pointer;
display: block;
text-decoration: none;
font: bold 12px/12px HelveticaNeue, Arial;
padding: 6px 6px;
border: 1px solid #dedede;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background: #92dbf6;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#abe4f8', endColorstr='#6fcef3'); /* IE */
background: -webkit-gradient(linear, left top, left bottom, from(#abe4f8), to(#6fcef3)); /* WebKit */
background: -moz-linear-gradient(top, #abe4f8, #6fcef3);
border-color: #8dc5da #76b7cf #63abc7;
color: #42788e;
text-shadow: 0 1px 0 #b6e6f9;
-webkit-box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #c0ebfa;
-moz-box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #c0ebfa;
box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #c0ebfa;  
}

div.wizardCls div.centerContent {
width: 695px;
height: 130px;
float: left;
overflow: hidden;
}

div.wizardCls form {
width: 695px;
height: 130px;
overflow: auto;
border: solid 1px black;
}

div.wizardCls div.legend {
padding: 3px 0px;
text-align: center;
font-weight: 400;
color: #483d8b;
text-shadow: 0px 1px 1px rgba(112,128,144,0.8);
}
