
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix {
display: inline-block;
}
* html .clearfix {
height: 1%;
}
.clearfix {
display: block;
}

body {
text-align: center;
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 0.93em;
background-color: #f5f5f5;
}

a:link, a:visited, a:active, a:hover {
color: #0000b0;
}

.intro {
width: 74%;
margin-left: 20%;
margin-right: auto;
}

div.announce {
font-size: 1.1em;
font-style: italic;
color: #8fbc8f;
}

div.hd {
text-align: left;
width: 60%;
margin: 10px auto 10px 20%;
clear: both;
}

h1 {
font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
font-size: 1.6em;
color: #87ceeb;
text-align: center;
outline-style: none;
}

h2, h3, h4, h5, h6 {
font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
font-size: 1.4em;
color: #f5f5f5;
background-color: #000000;
border: solid thin #000099;
font-weight: bold;
margin: 20px 20px 20px 20%;
padding: 10px 0px;
text-align: center;
width: 200px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
outline-style: none;
overflow: hidden;
}

div.content {
width: 702px;
text-align: center;
}

div.tabs {
width: 70%;
margin-left: 15%;
}

div.tab, a.tab {
width: 24%;
float: left;
padding: 15px 0px;
font-size: 1.4em;
font-weight: bold;
}

div.tab span, a.tab span {
padding: 10px 20px;
border: solid thin black;
color: #000;
background-color: #f5f5f5;
}

div.tab.active span, a.tab.active span {
color: #f5f5f5;
background-color: #000000;
}

.tal {
text-align: left;
}

div.menu {
text-align: center;
background-color: #d3d3d3;
border: solid thin black;
padding: 5px 10px;
}

ul.menu {
list-style: none;
padding: 0;
margin: 0;
}

ul.menu > li {
margin: 3px 0px;
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 0.9em;
background-color: #f5f5f5;
color: #000000;
text-decoration: underline;
}

*:focus {
outline: #990000 2px inset;
}

ul.menu > li:focus {
background-color: #3A5FCD;
color: #f5f5f5;
}

ul.menu > li.submenu:after {
content: '\2192';
}

div.hiddenStorage {
display: none;
visibility: hidden;
}
